<%- include("partials/header") %>
<%- include("partials/navbar") %> 

    <br>
    <div class="container">
        <div class="row">
            <div class="com-md-4">
                <div class="card" style="width: 20rem; margin-top: 2rem;">
                <div class="card-body" style="background-color: rgb(196, 194, 191);">
                    <p class="card-text">PIC</p>
                </div>
                </div>
            </div>
            <div class="col-md-8">
                <br>
                <div class="container">
                <h1 style="color: rgb(197, 44, 44);">DELETED SUCCESFULLY</h1>
                <h3 style="text-decoration: line-through;">Name: <%= student.name %>  </h3>
                <p style="text-decoration: line-through;">Age: <%= student.age %>  </p>
                <p style="text-decoration: line-through;">Form: <%= student.form %>  </p>
                <p style="text-decoration: line-through;">Gender: <%= student.gender %>  </p>
                <p style="text-decoration: line-through;">Grade: <%= student.grade %>  </p>
                <p style="text-decoration: line-through;">Stream: <%= student.stream %> </p>
                    
                <br> <br>
                <a href="/<%= student.form %><%= student.stream %>  "> <button class="btn btn-success">Go Back</button></a>
            </div>
                
            </div>
        </div>
    
    </div>

<%- include("partials/footer") %> 